body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: left;
}

#searchInput {
    width: 500px;
    padding: 10px;
    font-size: 16px;
}

#results {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.result-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.result-box h3 {
    margin: 0;
}

.result-box p {
    margin: 5px 0;
}
